/* Initial Layout Mask -------------------------------------------------------- */
.layout-initial-mask {
    display: none;
    position:absolute; 
    left:0px; 
    top:0px; 
    right:0px; 
    bottom:0px; 
    background-color:#f9f9f9; 
    z-index:100000000;
}   
.layout-initial-mask div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -110px;
}

.layout-initial-mask h3 {
    float:right;
    margin: -1px 0px 0px 20px;
}

.clicked {
   color: #333333;
    /*background-color: whitesmoke;*/
    background-color: lightcyan;
}

.unclicked {
   color: #333333;  
}


.clicked:hover {
   color: #333333;  
    background-color: lightcyan;
}

.clicked:active {
   color: #333333;  
    background-color: lightcyan;
}

.clicked:focus {
   color: #333333;  
    background-color: lightcyan;
    text-decoration: none;
}




